/*article {
  position:absolute;
  top:0;
  right:0;
  bottom:0px;
  left:0;
  overflow:auto;
  }
.quiet {
  color:rgba(0,0,0,0.5);
  }
.scroll {
  display:block;
  text-align:center;
  }
.sections {
  background:rgba(255,255,255,0.5);
  width:240px;
  }
section {
  padding:20px;
  color:rgba(0,0,0,0.5);
  -webkit-transition:background 500ms, color 500ms;
          transition:background 500ms, color 500ms;
  }
section.active {
  background:#fff;
  color:#404040;
  }
*/



/*-------------  map -----------------------------------*/

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
  }
  /*------------------- sections ----------------------------*/
article {
  width:33.3333%;
  min-width:320px;
  position:relative;
  padding-top:40px;
  padding-bottom:33.3333%;

  }

  p {
     font-family: BebasNeueRegular,verdana,Century gothic,sans-serif;
  }

h1 { font-size:2em; line-height:1em; }
h2 { font-size:1.3333em; }
h1,h2 { margin:0px 0px 10px; }

section#cover.cover.active {
  padding: 5%;
  margin: -7% auto;
}

.cover-para {
  display: inline-block;
}

#social li{
  float: left;
  padding: 5px;
  position:relative;
  list-style:none;
}

#social img{
  width: 40px;
  height: 40px;
}
#social li:hover {
  opacity: 1;
  font-size: 400%;
 }

.submenu li a.sf-with-ul{
  padding-right:10px}

#submenu li li a:link, 
#submenu li li a:visited{
  font-size:14px;
  color:#aaa;
  text-shadow:none;
  width:148px;
  margin:0;
  padding:0px 10px;
  line-height:35px;
  border-bottom:1px solid #222;
  border-top:1px solid #111;
  border-left:1px solid #111;
  border-right:1px solid #222;
  text-transform:none;
  position:relative;
  background:#151515
}

  #submenu ul ul li:first-child{border-top:none}
  #submenu ul ul li:last-child{border-bottom:none}
  #submenu li li:last-child{border-bottom:none}
  #submenu li li a:hover, 
  #submenu li li a:active{
    background:#070707;
    color:#fff
    }

  #submenu li ul{
    z-index:9999;
    position:absolute;
    left:-999em;
    height:auto;
    width:170px;
    margin:5px 0px;
    padding:5px 5px;
    background:#000;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px}

.submenu li ul a{
  width:150px}

  ul {
    padding: 0px;
  }

/*----------------scroll down texts ----------------*/

section {
  padding:40px;
  position:relative;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
  }

section,
section a {
  color:#888;
  color:rgba(128,128,128,0);
  text-decoration:none;
  text-shadow:rgba(64,64,64,1) 0px 0px 4px;
  }
section.active {
  background:#222;
  color:#eee;
}
section.active a { color:#eee; }
section.active small { color:#aaa; }



.colophon {
  display:block;
  margin-top:10px;
  }

.cover:before {
  content:'';
  display:block;
  width:120px;
  margin:0px auto 20px;
  z-index: 200;
  }

.spot {
  width:120px;
  height:120px;
  margin:-60px 0px 0px -60px;
  position:absolute;
  }
.spot-cover { display:none; }
.spot-gschool { background-position:-130px 0px; }
.spot-gschool.active { background-position:-130px -120px; }
.spot-earthline { background-position:-260px 0px; }
.spot-earthline.active { background-position:-260px -120px; }
.spot-hot { background-position:-390px 0px; }
.spot-hot.active { background-position:-390px -120px; }
.spot-allhands { background-position:-520px 0px; }
.spot-allhands.active { background-position:-520px -120px; }
.spot-bonobo { background-position:-650px 0px; }
.spot-bonobo.active { background-position:-650px -120px; }
.spot-colgate { background-position:-780px 0px; }
.spot-colgate.active { background-position:-780px -120px; }

.spot-more-content.active { background-position:-1040px -120px; }*/

/* Distinguish the "cover page" visually other sections. */
body.section-0 #map { opacity:0.5; }

@media (max-width:640px) {
  body {
    font-size:12px;
    line-height:16px;
    }
  article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    padding-bottom:200%;
    }
  section {
    text-shadow:none;
    margin-left:0px;
    padding:30px;
    }
  section.active {
    position:fixed;
    top:0px; left:0px; right:0px;
    }

  #pane { width:100%; 
  }

  #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height: 100%;
    }
  }

@media (min-width:1280px) {
  body {
    font-size:18px;
    line-height:24px;
    }
  }